<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start"  >
      <ion-button (click)="salirSinArgumentos()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon> Return
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="recetaInfo">
  <ion-card>
    <ion-img [src]="recetaInfo.image"></ion-img>
  </ion-card>

  <ion-card-header>
    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
    <ion-card-title>{{recetaInfo.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>

      <ion-button class="btn-large" [href]="recetaInfo.sourceUrl" expand="full" fill="outline">
        instructions
      </ion-button>

    
    <ion-item lines="none">
      Redy in {{recetaInfo.readyInMinutes}} minutes
      <ion-icon name="time-outline" slot="end"></ion-icon>
    </ion-item>
    
    <ion-item lines="none">
      Spoonacular Score span 
      <ion-text color="primary" slot="end">
        {{recetaInfo.spoonacularScore}}
      </ion-text>
    </ion-item>
    
    <ion-progress-bar type="determinate" [value]="recetaInfo.spoonacularScore/100"  color="primary" ></ion-progress-bar>

    <br>
    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.dairyFree">
      <ion-label>Dairy Free</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.cheap">
      <ion-label>Cheap</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.glutenFree">
      <ion-label>Gluten Free</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.ketogenic">
      <ion-label>Ketogenic</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.lowFodmap">
      <ion-label>Low Fodmap</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.sustainable">
      <ion-label>Sustainable</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.vegan">
      <ion-label>Vegan</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.vegetarian">
      <ion-label>Vegetarian</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.veryHealthy">
      <ion-label>Very Healthy</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.veryPopular">
      <ion-label>very Popular</ion-label>
    </ion-chip>

    <ion-chip color="primary" outline="true" *ngIf="recetaInfo.cheap">
      <ion-label>Cheap</ion-label>
    </ion-chip>
  </ion-card-content>

</ion-content>
